body,html{
    background-color: rgb(10, 10, 10);
    height: 99%;
    width: 99%;
}
.root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calculatorContainer{
    background-color: rgb(10, 10, 10);
    width: 33%;
    height: 80%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttonsContainer{
    height: 65%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}
.numberButtons{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 70%;
    height: 98%;
    background-color: black;
    display: grid;
    margin:0 auto;
    grid-template-columns: auto auto auto auto;
    gap: 3%;
}
.grid-item {
    grid-column: span 1;  
}
.grid-item.large {
    grid-column: span 2; 
}
.numberButtons button {
    margin-top: 10%;
    width: 100%;
    border-radius: 40%;
    border: none;
    font-size: 20px;
    box-shadow: 1px 7px 0px 0px black;
    transition: transform 0.2s, box-shadow 0.2s;
}

.numberButtons button:hover {
    transform: translateY(10px);
    box-shadow: 0px 1px 0px 0px black inset;
    cursor: pointer;
}



.numberButtons .buttonNumbers {
    background-color: #5c5b5b;
}
.numberButtons .buttonOperators{
    background-color: #FF9500;
}
.numberButtons .buttonResult{
    background-color: #007AFF;
}
.numberButtons .buttonDelete{
    background-color: #FF3B30;
}
.displayContainer{
    padding-top: 3% ;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 52.3%;
    height: 13%;
    align-items: center;
    justify-content: center;
}
.displayScreen{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 70%;
    background-color: gray;
    justify-content: end;
    border-radius: 10px;
}
.displayScreen h2{
    margin: 0;
    margin-right: 10%;
    text-align: right;
    font-size: 180%;
}

/* WIDTH RESPONSIVE */
@media screen and (min-width: 320px) and (max-width: 550px) {
    .calculatorContainer{
        width: 100%;
    }
    .displayContainer{
        width: 53.2%;
    }
}
@media screen and (min-width: 550px) and (max-width: 700px) {
    .calculatorContainer{
        width: 80%;
    }
    .displayContainer{
        width: 53.2%;
    }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
    .calculatorContainer{
        width: 60%;
    }
    .displayContainer{
        width: 53.2%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
    .calculatorContainer{
        width: 55%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .calculatorContainer{
        width: 45%;
    }
}

/* HEIGHT RESPONSIVE */
@media screen and (min-height: 350px) and (max-height: 500px) {
    .calculatorContainer{
        height: 100%;
    }
    .displayContainer{
        height:18%;
    }
    .displayScreen h2{
        font-size: 135%;
    }
}
@media screen and (min-height: 485px) and (max-height: 600px) {
    .calculatorContainer{
        height: 100%;
    }
    .displayContainer{
        height:15%;
    }
    .displayScreen h2{
        font-size: 150%;
    }
}
@media screen and (min-height: 600px) and (max-height: 800px) {
    .calculatorContainer{
        height: 100%;
    }
    .displayContainer{
        height:15%;
    }
    .displayScreen h2{
        font-size: 150%;
    }
}